# Meta Pixel & CAPI Credentials
VITE_META_PIXEL_ID=1564061235060927
META_ACCESS_TOKEN=EAAST3n1jRa8BRT7oMVDiCt0irIwqAXOsSUmM8dZB0wR6yxcQyGkfvfJ7obCdmxpOnjbUvw6UNpZB0GptkbZCgagyexMDLKeKgKFu3sgCTqZCrPjvgNZCXy73jkdLjVLBZAGVZCZA95YVUycbiEueLK0W3ABGZAGwsscQoZBCzoAC1U2OgYM7Pp2UBfysUGyZB2mNzC5kQZDZD

# Set this to your test event code to verify integration in Meta Events Manager
# Remove or leave empty in production
VITE_META_TEST_EVENT_CODE=TEST57052
